@model CapaEntidad.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- MDB CSS -->
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet">*@

    <style>
        .gradient-custom-3 {
            /* fallback for old browsers */
            background: #84fab0;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
        }

        .gradient-custom-4 {
            /* fallback for old browsers */
            background: #84fab0;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
        }
    </style>

</head>
<body>


    <section class="vh-100 bg-image"
             style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                                <form action="@Url.Action("Registrar", "Acceso")" method="post">

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                @Html.TextBoxFor(m => m.Nombres, new { @type = "text", @class = "form-control form-control-lg", @id = "txtnombre", @placeholder = "Ingresa tus nombres", value = ViewData["Nombres"] })
                                                @Html.Label("txtnombre", "Nombres", new { @class = "form-label" })
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                @Html.TextBoxFor(m => m.Apellidos, new { @type = "text", @class = "form-control form-control-lg", @id = "txtapellidos", @placeholder = "Ingresa tus apellidos", value = ViewData["Apellidos"] })
                                                @Html.Label("txtapellidos", "Apellidos", new { @class = "form-label" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-outline mb-4">
                                        @Html.TextBoxFor(m => m.Correo, new { @type = "email", @class = "form-control form-control-lg", @id = "txtcorreo", @placeholder = "Ingresa tu correo" })
                                        @Html.Label("txtcorreo", "Correo")
                                    </div>


                                    <div class="form-outline mb-4">
                                        @Html.PasswordFor(m => m.Clave, new { @type = "password", @class = "form-control form-control-lg", @id = "txtclave", @placeholder = "Ingresa tu contrasena" })
                                        @Html.Label("txtclave", "Clave")
                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.PasswordFor(m => m.ConfirmarClave, new { @type = "password", @class = "form-control form-control-lg", @id = "txtconfirmarclave", @placeholder = "Confirma tu contrasena" })
                                        @Html.Label("txtconfirmarclave", "Confirmar clave")
                                    </div>

                                    @{
                                        if (ViewBag.Error != null)
                                        {
                                            <div class="form-outline mb-3">
                                                <div class="alert alert-danger" role="alert">
                                                    @ViewBag.Error
                                                </div>
                                            </div>
                                        }
                                    }

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" data-mdb-button-init
                                                data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            Registrar
                                        </button>
                                    </div>

                                    <p class="text-center text-muted mt-3 mb-0">
                                        Ya tienes una cuenta mi kisame? <a href="@Url.Action("Index", "Acceso")"
                                                                           class="fw-bold text-body"><u>Regresar a Login</u></a>
                                    </p>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Scripts/bootstrap.bundle.js"></script>

    <!-- MDB JS -->
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>*@

</body>
</html>
